@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  html {
    font-family: "Kantumruy Pro", sans-serif;
  }

  input[type="number"] {
    appearance: textfield; /* padrão */
    -moz-appearance: textfield; /* Firefox */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none; /* padrão */
    -webkit-appearance: none; /* Chrome / Edge / Safari */
    margin: 0;
  }
}
